# Supabase Configuration
VITE_SUPABASE_URL=https://rybpwwekwavwhwqfwtin.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5YnB3d2Vrd2F2d2h3cWZ3dGluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3MzMwODgsImV4cCI6MjA3MzMwOTA4OH0.SoAHDpEqqvWOK3EHx3FqmRoyJ0l1xwMXWbvOVgTId44


# Google OAuth (Optional - for Google sign-in)
VITE_GOOGLE_CLIENT_ID=789387421040-qj72sip2eclv892317hovspejg3jkv43.apps.googleusercontent.com

# Backend API (if using custom backend)
VITE_API_URL=  http://localhost:4000
